<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zkrtdrone.zkrt.com">


    <application
        android:name=".JackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="db6dccbf376b14362c9352ec" />

        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" />

        <service android:name="dji.internal.geofeature.flyforbid.FlyforbidUpdateService" />

        <!-- Required for receiving GEO system pushing. -->
        <!--<service android:name="dji.sdk.sdkmanager.GeoSyncFileService"/>-->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>